

body
{
   width:900px;
   margin:auto;
   background-color:#D6DFFF;

}

footer
{
	float: bottom;
}

h4
{
	margin-bottom: 2px;
}

p
{
	margin-top: 2px;
	margin-bottom: 2px;
}

meter
{
	margin-left: 10px;
}

#divLeft
{
	float: left;
	margin-right: 20px;
	margin-top: 20px;

}

#divRight
{
	float: right;
	margin-left: 20px;
	margin-right: 30px;
	border-left: 2px #FECE4C solid;
	margin-top: 20px;
	margin-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
}

section
{
	margin-left: 10px;
}

.traitJaune
{
	height: 10px;
	background-color : #FECE4C;
}

.bas
{
	float: left;
	width: 900px;
	height: 10px;
	background-color : #FECE4C;
}



.leNom
{
	font-size: 40px;
	margin-bottom: 5px;
	text-align: right;

}

.formationPrincipal
{

}

.profilmini
{

	text-align: left;

}

.mesInfos
{
	text-align: right;
	max-width: 200px;

}

.CV
{
	text-align: right;
}


.carreNom
{
    border: 3px #FECE4C solid;
    background-color: #FECE4C;
    padding: 2px;
    max-width: 200px;
    max-height: 200px;


}
