body
{

   background-color: #D6DFFF;

}

.profil{
	overflow:hidden;
    border-radius:20px;
    width:35px;
    height:35px;
    margin:2px;
    float: right;
}

.title-bar-left{
	line-height: 35px;
}
