
li:nth-child(even) {background: #9B9CA0}
li:nth-child(odd) {background: #E1E1E1}


//-------------------------------------------------------------------------------------------------------
.tasklist-item{


    list-style-type: none;

    padding: 8px;
      width: 1300px;



}

li{

  margin-left: 20px;
  margin: auto;

}

li:first-child {
    background-color: #595B64;

}

.row{max-width:100rem}


.tasklist-item.tracer span{
	text-decoration: line-through;
}

.tasklist-item-principal{
	font-weight: bold;
    list-style-type: none;
    width: 1300px;

}





.lien{
	color:inherit;

}


.tasklist li:nth-child(n+2):hover{

background-color: #ABC3F1;
}

.tasklist-item-id{
	width: 35px;;
	display: inline-block;
  text-align: left;
}

.tasklist-item-description{
	width: 450px;
	display: inline-block;

	}

.tasklist-item-date{
	width: 120px;
	display: inline-block;
}

.tasklist-item-create_by{
  width: 120px;
	display: inline-block;
}

.tasklist-item-assigned_to{
  width: 120px;
  display: inline-block;
}

.tasklist-item-done_by{
  width: 50px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 40px;
}

.tasklist-item-done_at{
  width: 120px;
  display: inline-block;
}

.tasklist-item-due{
	width: 100px;
	display: inline-block;
  margin-right: 20px
}

.tasklist-item-priorite{
	width: 50px;
	display: inline-block;
  margin-right: 50px;
}

.tasklist-item-status{
	width: 50px;
	display: inline-block;
}
.tasklist-item-status{

}

.tasklist-item-bouton{
	display: inline-block;
	width: 40px;
}
//---------------------------------------------------------------------------------------------------------------

li:first-child {
    background-color: #595B64;
    padding: 8px;
    margin-top: 20px;

}


.tasklist-item.tracer span{
	text-decoration: line-through;
}



.tasklist{
	padding: 30px;

}

.lien{
	color:inherit;

}
 .tableajout{
	 padding: 30px;
 }

.tasklist li:nth-child(n+2):hover{

background-color: #ABC3F1;
}

.tasklist-item-bouton{
	display: inline-block;
	width: 40px;
}
.doneimg{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.poubelle{
	color:inherit;

}

.fait{
	color:inherit;
}

.add{
	color:inherit;
	position: fixed;
	right: 60px;
	bottom: 60px;

}

.off-canvas{
	text-align: center;
}

@media only screen and (max-width:1200px){


.tasklist-item-done_by{
  display: none;

}

.tasklist-item-assigned_to{
  display: none;

}



}

@media only screen and (max-width:1000px){


.tasklist-item-create_by{
  display: none;
}



.tasklist-item-due{
  display: none;
}


.tasklist-item-done_by{
  display: none;

}

.tasklist-item-assigned_to{
  display: none;

}

.tasklist-item-description{
	width: 250px;
	display: inline-block;

	}



}



@media only screen and (max-width:800px){


.tasklist-item-create_by{
  display: none;
}



.tasklist-item-due{
  display: none;
}


.tasklist-item-done_by{
  display: none;

}

.tasklist-item-assigned_to{
  display: none;

}

.tasklist-item-description{
	width: 180px;
	display: inline-block;

	}

  .tasklist-item-create_by{
    display: none;

  }




}

@media only screen and (max-width:500px){


.tasklist-item-date{
  display: none;
}

.tasklist-item-create_by{
  display: none;
}

.tasklist-item-done_at{
  display: none;
}

.tasklist-item-due{
  display: none;
}

.tasklist-item-assigned_to{
  display: none;
}

.tasklist-item-done_by{
  display: none;
}

.tasklist-item-description{
	width: 100px;
	display: inline-block;

	}



}



/*.add i:hover{
	 background-color: #ABC3F1;
}

*/
