.tasklist-item-principal-user{
	font-weight: bold;
    list-style-type: none;
      width: 500px;
}

.tasklist-item-user{


    list-style-type: none;

    padding: 8px;
      width: 500px;
}
.tasklist-item-name{
  margin-right: 30px;
}

.tasklist-item-bouton-user{
	display: inline-block;
	width: 40px;
  float: right;
}

@media only screen and (max-width:500px){

	.tasklist-item-principal-user{
		font-weight: bold;
	    list-style-type: none;
	      width: 350px;
	}
	.tasklist-item-user{


	    list-style-type: none;

	    padding: 8px;
	      width: 350px;
	}





}
